{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main page</a>
                {% comment %} <a href="{% url 'edit_recipe' %}">edit</a> {% endcomment %}
            </nav>
        </header>
        <main>
            {% if blog_post.is_published %}
                <h1>{{ blog_post.title }}</h1>
            {% endif %}
            <img src="{{ recipe_object.picture }}">
            <div>4.3 stars</div>
            <p>{{ recipe_object.description }}</p>
            <h2>Ingredients</h2>
            <table class="ingredients-table">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food item</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h2>Steps</h2>
            <ol>
                {% for step in recipe_object.steps.all %}
                    <li>{{ step.instruction }}</li>
                {% endfor %}
            </ol>
        </main>
{% endblock content %}
